################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectLedg.Server/.env
/.vs/ProjectLedg/FileContentIndex
/.vs/ProjectEvaluation/projectledg.metadata.v7.bin
/.vs/ProjectEvaluation/projectledg.projects.v7.bin
/.vs/ProjectLedg/config/applicationhost.config
/.vs/ProjectLedg/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectLedg/v17/.futdcache.v2
/.vs/ProjectLedg/v17/.suo
/ProjectLedg.Server/obj/Debug/net8.0/ProjectLedg.Server.assets.cache
/ProjectLedg.Server/obj/Debug/net8.0/ProjectLedg.Server.GeneratedMSBuildEditorConfig.editorconfig
